/* general */
.clear{
    clear: both;
}
body{
    font-family: montserrat,sans-serif;
}
:root{
    --maincolor: #6195ff;
    --blackcolor: #000;
}
*{
    margin: 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0%;
}
.icons{
    font-size: small;
    margin: 10px 0 0 0;
}
.icon{
    color: var(--maincolor);
    margin: 0px 0 0 10;
}
.left-side h2{
    margin: 15px 0;
}
/* end general */
/*navbar*/
.navbar{
    width: 80%;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    font-size: small;
}
.logo{
    margin-top: 8px;
    width: 10%;
    height:8%;
}
.navbar > ul{
    float: right;
    display: flex;
}
.navbar  > ul > li{
    margin: 0px 6;
    padding: 5px 0;
}
.navbar > ul > li > a{
    margin: 6px;
    display: block;
    padding:10px 0 0 0;
    color: var(--whitecolor);
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility:visible;
}
.dropdown-menu{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: var(--maincolor);
    padding: 5px 0 3 0;
    text-align: center;
    right: 170px;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
}
.op1{
    color: var(--whitecolor);
}
.clear{
    clear: both;
}
/* end navbar*/
/* breadcrumbs */
#bread{
    background-color: #f8f8f8;
    width: 100%;
}
.breadcrumbs{
    color: #9b9b9b;
    width: 80%;
    margin: auto;
    padding: 50px 15;
    margin-top: 2px;
}
.breadcrumbs > h1{
    color: var(--blackcolor);
    display: inline-block;
    margin: 0px 650 0 15;
}
.breadcrumbs > span{
    color: var(--maincolor);
}
/* end breadcrumbs */
/* content */
.content{
    display: flex;
    padding: 100px 0;
    margin: auto;
    width: 75%;
}
/* left side */
.left-side{
    margin-right: 2%;
    width: 70%;
}
.left-side img{
    width: 100%;
    height: 340px;
}
.left-side p{
    line-height: 1.3em;
    font-size: 10.3pt;
    color: #a1a1a1;
}
button{
    background-color: rgb(245, 245, 245);
    border: 0px;
    padding: 5px;
}
.imgteam{
    padding: 3%;
    margin: 30px 0;
    width: 94%;
    height: 130px;
    border: 1px solid rgb(240, 240, 240);
}
.imgteam > img{
    margin-right: 15px;
    float: left;
    height: 100%;
    width: 20%;
}
.imgteam p{
    margin: 1em 0;
    padding: 1em;
    border-top: 1px solid rgb(240, 240, 240);
}
.imgteam > b{
    font-size: 16pt;
}
.comments{
    display: inline-block;
    margin-bottom: 15px;
}
.chome{
    border: 1px solid rgb(240, 240, 240);
    padding: 0 2%;
}
.comment{
    padding: 2%;
    width: 95.5%;
    height: 70px;
    border-top: 1px solid rgb(240, 240, 240);
    cursor: pointer;
}
.comment:hover{
    border: 1px solid var(--maincolor);
    background-color: #f8f8f8;
}
.comment img{
    margin-right: 15px;
    float: left;
    height: 75%;
    width: 10%;
}
.head{
    margin-bottom: 5px;
}
.time{
    margin-left: 10px;
    font-size: 7pt;
    color: #a1a1a1;
}
h3{
    margin: 25px 0 15 0;
}
.left-side form{
    width: 100%;
}
.left-side .type1{
    height: 30px;
    border: 0px;
    background-color: #f8f8f8;
    width: 48.91%;
    margin: 5px 5 5 0;
    padding-left: 5px;
}
.type2{
    height: 30px;
    border: 0px;
    background-color: #f8f8f8;
    margin: 5px 5 5 0;
    width: 99%;
    padding: 15px 0 60 5;
}
.but{
    border: 0px;
    background-color: var(--maincolor);
    color: white;
    margin: 20px 0;
    width: 100px;
    height: 35px;
    cursor: pointer;
}
/* end left side */
/* right side */
.right-side{
    width: 25%;
}
.right-side input{
    width: 100%;
    padding: 7px 0 7 7;
    border: 0px;
    background-color: #f8f8f8;
}
.space-1{
    width: 30px;
    height:3px;
    background-color: var(--maincolor);
    margin-bottom: 20px;
}
.right-side h2{
    margin: 20px 0 10 0;
}
.category{
    margin-bottom: 30px;
    border-bottom: .3px solid #dbdbdb;
}
.category > .fright{
    color: #464646;
    border-top: .3px solid #dbdbdb;
    cursor: pointer;
    padding: 2px;
    font-size: small;
}
.category > .fright:hover{
    color: var(--maincolor);
}
.category > .fleft{
    color: var(--maincolor);
    float: right;
}
.space-2{
    width: 45px;
    height:3px;
    background-color: var(--maincolor);
    margin-bottom: 20px;
}
.pposts li{
    margin-bottom: 40px;
}
.pposts p{
    display: inline-block;
    margin-left: 5px;
}
.pposts span{
    display: inline-block;
    color: var(--maincolor);
    margin-top: 5px;
    font-size: small;
}
.pposts img{
    float: left;
    width: 35%;
    height: 60px;
}
/* end right side */
/* section-12 */
.section-12{
    background-color: #1c1d21;
    text-align: center;
    color: #8b8b8b;
    padding-bottom: 50px;
}
.section-12 > img{
    height: 70px;
    margin: 50px 0 30 30;
}
.section-12 li{
    display: inline-block;
}
.section-12 a{
    display: block;
    color: var(--whitecolor);
    width: 38px;
    height: 35px;
    background-color: var(--maincolor);
    margin: 0px 5 30 0;
    border-radius: 10%;
}
.section-12 i{
    margin-top: 8px;
}
.section-12 p{
    font-size: .7em;
    margin-left: 50px;
}
.section-12 span{
    color: var(--maincolor);
}
/* end section-12 */
/* end content */