/* section-3 */
.section3{
    background-color: #f8f8f8;
}
.section3-content{
    height: 100%;
    width:80%;
    margin: auto;
}
/* images */
.images{
    height:100%;
}
.images .photo{
    position: relative;
    margin: 1%;
    width: 30%;
    height: 45%;
    display: inline-block;
}
.photo .cover{
    line-height: 2em;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    margin: 1%;
    height: 100%;
    text-align: center;
    color: var(--maincolor);
    background-color:rgba(36, 36, 36, 0.8);
    opacity: 0;
    transition: .5s
}
.photo .cover:hover{
    opacity:1
}
.photo h2{
    color: var(--whitecolor);
}
.photo a{
    color:var(--maincolor);
}
.images img{
    margin: 1%;
    width: 100%;
    height: 100%;
}
/* end images */
/* end section-3 */