/* section-5 */
.section-5{
    height: 100%;
    background-color:#f8f8f8;
}
.section5-content{
    width:75%;
    height: 100%;
    margin: auto;
}
/* content */
.space-5{
    width: 30px;
    height:3px;
    background-color: var(--maincolor);
    margin: 0px 0 80 0;
}
.section-5 h2 {
    margin-bottom: 10px;
    font-size: 35px;
}
.photo{
    float: right;
    width: 50%;
    height: 60%;
}
.section5-content img{
    width: 100%;
    height: 100%;
}
.bolits{
    width: 0px;
    margin: 0px 0 0 180;
    display: flex;
}
.bolits > .item{
    border: 5px solid #e0e0e0;
    border-radius: 40%;
    margin: 5px;
    padding: 0;
}
.bolits > .item:hover{
    border: 5px solid var(--maincolor); 
}
.section5-content .home{
    line-height: 1.3em;
    color:#8b8b8b;
}
.check{
    margin: 20px 0 40 0;
    padding: 0;
}
.home .icon{
    margin: 3px 0;
    color:var(--maincolor);
    border: 1px solid var(--maincolor);
    border-radius: 50%;
    padding: 2px;
}
/* end content */
/* end section-5 */