/* section-8 */
.section-8{
    position: relative;
    margin: 100px 0 0 0;
    background-image: url("../images/background/background3.webp");
    background-size: cover;
    height: 50%;
    background-attachment: fixed;
}
.section8-content{
    width: 60%;
    margin: auto;
}
.section-8 img{
    
    border-radius: 50%;
    height: 40%;
    width: 80%;
}
.pic{
    display: inline-block;
}
.section-8 .home{
    display: flex;

}
.depar{
    display: inline-block;
    margin: 0 0 0 0;
    width: 45%;
    color: var(--whitecolor);
}
.depar2{
    display: inline-block;
    width: 45%;
    color: var(--whitecolor);
    margin: 0px 0 0 60;
}
.underp{
    color: var(--maincolor);
    font-size: 8pt;
}
.cont{
    padding-top: 10PX;
    margin-bottom: 5px;
    line-height: 1.3em;
    display: inline-block;
    color: var(--whitecolor);
}
.section-8 p{
    margin-top: 10px;
    color:rgba(255, 255, 255, 0.863);
    font-size: 10pt;
}
/* end section-8 */
