/* section-9 */
.section-9{
    height: 100%;
}
.section9-content{
    width: 80%;
    margin: auto;
}
.deb{
    position: relative;
    line-height: 2.3em;
    text-align: center;
    display: inline-block;
    height: 55%;
    width: 26%;
    background-color: #e8e8e8;
    margin: 10px;
    color: #c0c0c0;
    font-size: 9pt;
    padding: 20px 0 0 0;
}
.deb:hover .pteam:after{
    height: 100%;
}
.deb:hover{
    background-color: rgb(26, 26, 26);
    color: var(--maincolor);
}
.deb:hover b{
    color: var(--whitecolor);
}
.pteam{
    padding: 0px 0 10 0;
    margin: auto;
    position: relative;
    height: 65%;
    width: 90%;
}
.pteam:after{
    position: absolute;
    background: rgba(22, 22, 22, 0.5);
    content: " ";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 0%;
}
.deb img{
    height: 100%;
    width: 100%;
}
.deb b{
    font-size: 15pt;
    color: black;
}
/* end section-9 */
