/* section-1 */
.section-1{
    background-image: url("../images/background/background1.webp");
    background-size: cover;
    height: 100vh;
    position: relative;
    color: var(--whitecolor);
}
.section-content{
    margin: auto;
    width:80%;
}
/*navbar*/
.navbar{
    font-family: 'Varela Round', sans-serif;
    font-size: small;

}
.logo{
    margin-top: 10px;
    width: 10%;
    height:7%;
}
.navbar > ul{
    float: right;
    display: flex;
}
.navbar a.active{
    border-bottom: 2px solid var(--maincolor);
}
.navbar  > ul > li{
    margin: 0px 6;
    padding: 5px 0;
}
.navbar > ul > li > a{
    margin: 6px;
    display: block;
    padding:10px 0 0 0;
    color: var(--whitecolor);
}
.navbar > ul > li > a:hover{
    border-bottom: 2px solid var(--maincolor);
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility:visible;
}
.dropdown-menu{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: var(--maincolor);
    padding: 5px 0 3 0;
    text-align: center;
    right: 170px;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
}
.op1{
    color: var(--whitecolor);
}
.clear{
    clear: both;
}
/* end navbar*/
/* content */
.content1{
    padding: 200px 0;
    margin: auto;
    width: 75%;
    font-size: 10pt;
}
.content1 h2{
    font-size: 45px;
    text-align: center;
}
.content1 p{
    margin: 10px;
    text-align: center;
    font-family: montserrat,sans-serif;
    line-height: 20px;
}
.content1 .buttons{
    padding: 15px;
    width: 30%;
    display: flex;
    margin: auto;
}
.h-opacity{
    transition: opacity .5s;
}
.h-opacity:hover{
    opacity:.5;
}
.content1 .button1, .content1 .button2{
    border: 0px;
    height:32px;
    width: 130px;
    margin: 5px;
    cursor: pointer;
}
.content1 .button1{
    background-color: var(--whitecolor);
}
.content1 .button2{
    background-color: var(--maincolor);
    color: var(--whitecolor);

}
/* content */
/* end section-1 */