/* section-12 */
.section-12{
    background-color: #1c1d21;
    text-align: center;
    color: #8b8b8b;
    padding-bottom: 50px;
}
.section-12 > img{
    height: 70px;
    margin: 50px 0 30 30;
}
.section-12 li{
    display: inline-block;
}
.section-12 a{
    display: block;
    color: var(--whitecolor);
    width: 38px;
    height: 35px;
    background-color: var(--maincolor);
    margin: 0px 5 30 0;
    border-radius: 10%;
}
.section-12 i{
    margin-top: 8px;
}
.section-12 p{
    font-size: .7em;
    margin-left: 50px;
}
.section-12 span{
    color: var(--maincolor);
}
/* end section-12 */