/* section-7 */
.section-7{
    height: 100%;
}
.section7-content{
    width: 70%;
    margin: auto;
}
.de{
    position: relative;
    line-height: 2em;
    font-size: small;
    padding: 20px;
    text-align: center;
    display: inline-block;
    height: 50%;
    width: 25%;
    border: 1px solid #e8e8e8;
    margin: 0px 10;
}
.de:after{
    position: absolute;
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 0%;
    background-color: rgb(26, 26, 26);
    z-index: -1;
    transition: height .5s;
}
.de:hover:after{
    height: 100%;
}
.de:hover{
    color: var(--whitecolor);
}

.de > p{
    margin: 15px 60;
    padding: 25px 0;
    border-radius: 50%;
    border: 2px solid var(--maincolor);
}
.de > P > span{
    font-size: 3em;
}
.sp{
    color: var(--maincolor);
    padding: 1px 20 1 20;
    border: 2px solid var(--maincolor);
    display: inline-block;
    margin-top: 20px;
}
.color{
    color: #adadad;
}
/* end section-7 */